trunk/fr.chaunier.ecoredoc.generator/samples/annonce/csv/pivot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.telintrans.fr/pivot"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pvt="http://www.telintrans.fr/pivot">

	<xsd:annotation>
		<xsd:documentation>
			définition des objet format pivot PALERT
		</xsd:documentation>
	</xsd:annotation>

	<!--xsd:complexType name="CountryType">
        <xsd:annotation>
        	<xsd:documentation>country definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="code" type="xsd:string" default="FR">
				<xsd:annotation>
					<xsd:documentation>iso 3166 list of country</xsd:documentation>
				</xsd:annotation></xsd:element>
			<xsd:element name="name" type="xsd:string"
				default="FRANCE">
                <xsd:annotation>
                	<xsd:documentation>langage sensitive country name</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType-->

	<xsd:complexType name="VATType">
        <xsd:annotation>
        	<xsd:documentation>VAT definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0"></xsd:enumeration>
						<xsd:enumeration value="1"></xsd:enumeration>
						<xsd:enumeration value="2"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="percentage" type="xsd:string"></xsd:element>
			<xsd:element name="amount" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				fr : expression d'une valeure monaitaire.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="value" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>
					un montant est exprimé en 100 éme d'unité monaitaire
					(currency)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="currency" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>iso code of currency EUR pour euro</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<!--xsd:sequence>
			<xsd:element name="value" type="xsd:int">
			<xsd:annotation>
			<xsd:documentation>
			un montant en euro est exprimé en 100 éme
			d'unité monaitaire (currency)
			</xsd:documentation>
			</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="xsd:string" maxOccurs="1" minOccurs="0">
			<xsd:annotation>
			<xsd:documentation>iso code of currency</xsd:documentation>
			</xsd:annotation></xsd:element>
			</xsd:sequence-->
	</xsd:complexType>


	<xsd:simpleType name="ParcelNumber">
        <xsd:annotation>
        	<xsd:documentation>parcel id (sequence number)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:positiveInteger">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ParcelCAB">
        <xsd:annotation>
        	<xsd:documentation>parcel CAB : service code + sequence number + checksum </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="lineType35">
        <xsd:annotation>
        	<xsd:documentation>string type 35 char limited</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:minLength value="35"></xsd:minLength>
		</xsd:restriction>
	</xsd:simpleType>

	<!--xsd:complexType name="I18NLabelType" abstract="true">
        <xsd:annotation>
        	<xsd:documentation>Abstract label type definition for international support.
when a label need i18n , for a pair (enum,label),(int,label),(string,label) pair definition  extend the I18NLabel to do this.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="label" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType-->

	<!-- 
	<xsd:complexType name="ContactType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>abstract root for contact informations
fr :	interface abstraite pour la structure d'un contact (mail, tel ...)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="documentation" type="xsd:string"
				minOccurs="0">
                <xsd:annotation>
                	<xsd:documentation>optional doc off contact</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PhoneType">
        <xsd:annotation>
        	<xsd:documentation>phone number and phone type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
			<xsd:extension base="pvt:ContactType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:string"></xsd:element>
					<xsd:element name="type" type="pvt:PhoneTypeEnum"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EmailType">
        <xsd:annotation>
        	<xsd:documentation>email definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
			<xsd:extension base="pvt:ContactType">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="WebaddressType">
        <xsd:annotation>
        	<xsd:documentation>contact web address</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
			<xsd:extension base="pvt:ContactType">
				<xsd:sequence>
					<xsd:element name="webaddress" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="FaxType">
        <xsd:annotation>
        	<xsd:documentation>fax number</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
			<xsd:extension base="pvt:ContactType">
				<xsd:sequence>
					<xsd:element name="fax" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OtherContactType">
        <xsd:annotation>
        	<xsd:documentation>other contact</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
			<xsd:extension base="pvt:ContactType">
				<xsd:sequence>
					<xsd:element name="other" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:simpleType name="PhoneTypeEnum">
		<xsd:annotation>
			<xsd:documentation>phone type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FIXE"></xsd:enumeration>
			<xsd:enumeration value="CELL"></xsd:enumeration>
			<xsd:enumeration value="OTHER"></xsd:enumeration>
			<xsd:enumeration value="TELEX"></xsd:enumeration>
			<xsd:enumeration value="FAX"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
 -->
 
	<!--xsd:complexType name="PeriodType">
        <xsd:annotation>
        	<xsd:documentation>A PeriodType define a period concept.
a period can br infinite period when the start date or end date is null.
constraint : the start date must be before the end date. 
</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
    				<xsd:element name="start"
    					type="xsd:date" minOccurs="0">
                            <xsd:annotation>
                            	<xsd:documentation>date of binginning of period fr : date début de période</xsd:documentation>
                            </xsd:annotation>
    				</xsd:element>
    				<xsd:element name="end" type="xsd:date" minOccurs="0">
    					<xsd:annotation>
    						<xsd:documentation>qdate of end of period fr : date fin de périod</xsd:documentation>
    					</xsd:annotation></xsd:element>
		</xsd:sequence>
	</xsd:complexType-->

	<!--xsd:simpleType name="I18NType">
		<xsd:restriction base="xsd:string"></xsd:restriction>
	</xsd:simpleType-->

	<!--xsd:simpleType name="AmountType">
		<xsd:restriction base="xsd:int"></xsd:restriction>
	</xsd:simpleType-->
	
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>
				adress definition, définition standard d'une adresse
				pour coliposte et chronopost
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name1" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>raison social ou nom prénom</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="name2" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>is raison social dans name1 alors nom prénom</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="line1" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>premiere ligne d'adresse</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="line2" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>seconde ligne d'adresse</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="city" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>ville</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="zipCode" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>code postal</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="state" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation></xsd:attribute>
        <xsd:attribute name="countryCode" type="xsd:string">
        	<xsd:annotation>
        		<xsd:documentation>code iso du pays</xsd:documentation>
        	</xsd:annotation></xsd:attribute>
        <xsd:attribute name="phone" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="email" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="InsuranceType">
		<xsd:annotation>
			<xsd:documentation>shipping Insurance fr : assurance</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
			<xsd:element name="value" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CertificationType">
		<xsd:annotation>
			<xsd:documentation>certification , fr : niveau de certification syn : niveau recommandation </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="label" type="xsd:string"></xsd:element>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
	<xsd:complexType name="SaturdayDeliveryType">
		<xsd:annotation>
			<xsd:documentation>statuday delivery , fr : livraison le samedi</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	-->
	<!--xsd:complexType name="EveningDeliveryType">
		<xsd:annotation>
			<xsd:documentation>Evening delivery , fr : livraison le soir</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType-->
	<!-- 
	<xsd:complexType name="AlertOnDeliveryType">
		<xsd:annotation>
			<xsd:documentation>alert sur livraison par telephone</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ToHandInSignatureType">
		<xsd:annotation>
			<xsd:documentation>refund on signature , fr : remboursement sur signature</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefundDutyTaxType">
		<xsd:annotation>
			<xsd:documentation>refund duty or tax fr: remboursement droits ou tax</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	 -->
	<!-- 
	<xsd:complexType name="TotalToCollectType">
		<xsd:annotation>
			<xsd:documentation>total to collect fr: total à encaisser</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	 -->
	<!-- 
	<xsd:complexType name="AppliedPriceType">
		<xsd:annotation>
			<xsd:documentation>applied price fr: prix appliqué</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	-->
	<!-- 
	<xsd:complexType name="IslandExtraFeeType">
		<xsd:annotation>
			<xsd:documentation>island extra fee</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcknoledgmentType">
		<xsd:annotation>
			<xsd:documentation>
				Acknoledgment type fr : type d'accusé de réception
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	-->
	<!-- 
	<xsd:annotation>
		<xsd:documentation>
			définition des principales données liées au shipping
		</xsd:documentation>
	</xsd:annotation>
	-->
	<!--
		xsd:complexType name="DeliveryAddressType"> <xsd:complexContent>
		<xsd:extension base="shp:AddressType"> <xsd:sequence> <xsd:element
		name="deliveryInformation" type="xsd:string"></xsd:element>
		</xsd:sequence> </xsd:extension> </xsd:complexContent>
		</xsd:complexType
	-->
	<!--
	<xsd:complexType name="ParcelType">
		<xsd:annotation>
			<xsd:documentation>parcel definition with  despatch informations.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="despatchAddress"
				type="pvt:AddressType">
				<xsd:annotation>
					<xsd:documentation>
						despatch address fr : Adresse destinataire s :
						consignee
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="weight" type="pvt:WeightType">
				<xsd:annotation>
					<xsd:documentation>
						weight of parcel in
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="middleWeight" type="xsd:boolean" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	-->

	<xsd:complexType name="CashOnDeliveryType">
		<xsd:annotation>
			<xsd:documentation>
    				Cash on delivery , fr : Paiement à la livraison
    			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valueDeclarered" type="pvt:AmountType">
				<xsd:annotation>
					<xsd:documentation>value declared </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amount" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!--xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element name="parcelID" type="pvt:ParcelNumber"></xsd:element>
			<xsd:element name="type" type="xsd:string"></xsd:element>
			<xsd:element name="label" type="xsd:strng"></xsd:element>
		</xsd:sequence>
	</xsd:complexType-->
	
	<!--
	<xsd:complexType name="PackagingType">
		<xsd:annotation>
			<xsd:documentation>packaging  fr : type de "packaging"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="amount" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
-->
	<xsd:complexType name="ExtraWeightOrVolumeType">
		<xsd:annotation>
			<xsd:documentation>Extra weight or volume amount : fr : hors gabarit , non mécanisable, traitement manuel
	</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="amount" type="pvt:AmountType"></xsd:element>
			<xsd:element name="type" type="pvt:ExtraWeightOrVolumeEnum"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

<!--
    <xsd:complexType name="CustomClearanceType">
		<xsd:annotation>
			<xsd:documentation>cutom clearance amount : fr : dédouanement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DriveType">
		<xsd:annotation>
			<xsd:documentation>drive type amount : fr : traction</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OutlayType">
		<xsd:annotation>
			<xsd:documentation>outlay  , fr : assignés, débours</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="UngroupType">
    	<xsd:annotation>
    		<xsd:documentation>ungroup fr : dégroupage</xsd:documentation>
    	</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StampType">
    	<xsd:annotation>
    		<xsd:documentation>stamp fr : timbre</xsd:documentation>
    	</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>
-->

	<!--

    <xsd:complexType name="DeliveryOnDespachOnlyType">
    	<xsd:annotation>
    		<xsd:documentation>delivery on despatch only fr : livraison à destinataire uniquement</xsd:documentation>
    	</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="pvt:AmountType"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>
-->

    <xsd:complexType name="WeightType">
        <xsd:annotation>
        	<xsd:documentation>weight informations
</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
    		<xsd:element name="taxable" type="xsd:float">
    			<xsd:annotation>
    				<xsd:documentation>taxable weight fr : poid taxable</xsd:documentation>
    			</xsd:annotation></xsd:element>
    		<xsd:element name="rounded" type="xsd:float">
    			<xsd:annotation>
    				<xsd:documentation>rouded weight fr : poid arroudi</xsd:documentation>
    			</xsd:annotation></xsd:element>
    		<xsd:element name="applied" type="xsd:float">
    			<xsd:annotation>
    				<xsd:documentation>applied weight fr : poid appliqué </xsd:documentation>
    			</xsd:annotation></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ExtraWeightOrVolumeEnum">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="N"></xsd:enumeration>
    		<xsd:enumeration value="D"></xsd:enumeration>
    		<xsd:enumeration value="S"></xsd:enumeration>
    		<xsd:enumeration value="E"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>




    <xsd:complexType name="PALERTType">
    	<xsd:sequence>
    		<xsd:element name="consignor" type="pvt:AddressType">
    			<xsd:annotation>
    				<xsd:documentation>
    					Expéditeur du colis
    				</xsd:documentation>
    			</xsd:annotation>
    		</xsd:element>
    		<xsd:element name="consignee" type="pvt:AddressType">
    			<xsd:annotation>
    				<xsd:documentation>
    					Destinataire du colis
    				</xsd:documentation>
    			</xsd:annotation>
    		</xsd:element>
    		<xsd:element name="cashOnDelivery"
    			type="pvt:CashOnDeliveryType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                	<xsd:documentation>cash on delivery  fr : Paiement à la livraison</xsd:documentation>
                </xsd:annotation>
    		</xsd:element>
    		<xsd:element name="transportation" type="pvt:AmountType">
    			<xsd:annotation>
    				<xsd:documentation>montant lié au transport</xsd:documentation>
    			</xsd:annotation></xsd:element>
    		<xsd:element name="insurance" type="pvt:InsuranceType" maxOccurs="1" minOccurs="0">
    			<xsd:annotation>
    				<xsd:documentation>shipping Insurance fr : assurance</xsd:documentation></xsd:annotation></xsd:element>
    		<xsd:element name="certification"
    			type="pvt:CertificationType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                	<xsd:documentation>certification , fr : niveau de certification syn : niveau recommandation </xsd:documentation></xsd:annotation>
    		</xsd:element>
            <xsd:element name="extraWeightOrVolume" type="pvt:ExtraWeightOrVolumeType" maxOccurs="1" minOccurs="0">
            	<xsd:annotation>
            		<xsd:documentation>Extra weight or volume amount : fr : montant supplémnt hors gabarit , non mécanisable, traitement manuel
	</xsd:documentation>
            	</xsd:annotation></xsd:element>
            <xsd:element name="islandExtraFee"
    			type="pvt:AmountType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                	<xsd:documentation>island extr feee</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acknowledgment" type="pvt:AmountType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                	<xsd:documentation>acknowledgment fr : avis de réception</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="returnOption" type="pvt:AmountType" maxOccurs="1" minOccurs="0">
            	<xsd:annotation>
            		<xsd:documentation>return option fr : option de retour</xsd:documentation>
            	</xsd:annotation></xsd:element>
            <xsd:element name="saturdayDelivery"
    			type="pvt:AmountType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                	<xsd:documentation>saturday delivery fr option de livraison samedi</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
    		<xsd:element name="VAT" type="pvt:VATType">
    			<xsd:annotation>
    				<xsd:documentation>VAT</xsd:documentation>
    			</xsd:annotation></xsd:element>
            <xsd:element name="totalAmount" type="pvt:AmountType">
    			<xsd:annotation>
    				<xsd:documentation>montant total </xsd:documentation>
    			</xsd:annotation></xsd:element>
            <xsd:element name="freeDutyAndTax" type="pvt:AmountType" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="weight" type="pvt:WeightType"></xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="parcelID" type="xsd:string">
    		<xsd:annotation>
    			<xsd:documentation>CAB du colis</xsd:documentation>
    		</xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="masterParcelID" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="operatorCode" type="xsd:string">
    		<xsd:annotation>
    			<xsd:documentation>code operateur</xsd:documentation>
    		</xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="serviceCode" type="xsd:string">
    		<xsd:annotation>
    			<xsd:documentation>service code</xsd:documentation>
    		</xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="shipmentDate" type="xsd:dateTime">
    		<xsd:annotation>
    			<xsd:documentation>date de l'envoi</xsd:documentation>
    		</xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="eventDate" type="xsd:dateTime"></xsd:attribute>
    	<xsd:attribute name="contentType" type="xsd:string">
    		<xsd:annotation>
    			<xsd:documentation>parcel content MAR pour marchandise DOC pour document</xsd:documentation>
    		</xsd:annotation></xsd:attribute>
   		<xsd:attribute name="tarifZone" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <!--xsd:complexType name="TransportationType">
    	<xsd:sequence>
    		<xsd:element name="value" type="pvt:AmountType"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType-->

<!-- 
    <xsd:complexType name="ReturnOptionType">
    	<xsd:sequence>
    		<xsd:element name="value" type="pvt:AmountType"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
 -->
 </xsd:schema>