branches/save/fr.chaunier.ecoredoc.generator/samples/pch/pivot/serviceV0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:com="http://www.telintrans.fr/common"
	 xmlns:srv="http://www.coliposte.fr/service"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:dt="http://www.telintrans.fr/datatype"
	 xmlns:Q1="dt"
	 targetNamespace="http://www.coliposte.fr/service"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.telintrans.fr/datatype" schemaLocation="dataTypeV0.0.xsd"/>

	<!-- 
	<xsd:complexType name="AssuranceType">
		<xsd:annotation>
			<xsd:documentation>
				assurance (exclusif avec recommandation)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valeure" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecommandationType">
		<xsd:annotation>
			<xsd:documentation>
				niveau recommandation , (exclusif avec assurance) en :
				certification
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LivraisonLeSamediType">
		<xsd:annotation>
			<xsd:documentation>
				statuday delivery , fr : livraison le samedi
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LivraisonLeSoirType">
		<xsd:annotation>
			<xsd:documentation>
				Evening delivery , fr : livraison le soir
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlerteSurLivraisonType">
		<xsd:annotation>
			<xsd:documentation>
				alert sur livraison par telephone
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemboursmentSurSignatureType">
		<xsd:annotation>
			<xsd:documentation>
				refund on signature , fr : remboursement sur signature
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemboursmentDroitsOuTaxType">
		<xsd:annotation>
			<xsd:documentation>
				refund duty or tax fr: remboursement droits ou tax
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalAEncaisserType">
		<xsd:annotation>
			<xsd:documentation>
				total to collect fr: total à encaisser
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrixAppliqueType">
		<xsd:annotation>
			<xsd:documentation>
				applied price fr: prix appliqué
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IslandExtraFeeType">
		<xsd:annotation>
			<xsd:documentation>island extra fee</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccuseDeReceptionType">
		<xsd:annotation>
			<xsd:documentation>Accusé de réception</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>
			définition des principales données liées au service
		</xsd:documentation>
	</xsd:annotation>

		xsd:complexType name="DeliveryAddressType"> <xsd:complexContent>
		<xsd:extension base="shp:AddressType"> <xsd:sequence> <xsd:element
		name="deliveryInformation" type="xsd:string"></xsd:element>
		</xsd:sequence> </xsd:extension> </xsd:complexContent>
		</xsd:complexType

	<xsd:complexType name="ContreRemboursementType">
		<xsd:annotation>
			<xsd:documentation>
				Contree rembourssement,Paiement à la livraison, en :
				Cash on delivery
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valueDeclarered"
				type="dt:MontantType">
				<xsd:annotation>
					<xsd:documentation>
						value declared
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="montant" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PackagingType">
		<xsd:annotation>
			<xsd:documentation>
				packaging fr : type de "packaging"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="montant" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HorsNormeType">
		<xsd:annotation>
			<xsd:documentation>
				hors gabarit , non mécanisable, traitement manuel , en :
				Extra weight or volume
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="montant" type="dt:MontantType" />
			<xsd:element name="type" type="srv:RaisonHorsNormeType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DedouanementType">
		<xsd:annotation>
			<xsd:documentation>
				cutom clearance montant : fr : dédouanement
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DriveType">
		<xsd:annotation>
			<xsd:documentation>
				drive type montant : fr : traction
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DebourType">
		<xsd:annotation>
			<xsd:documentation>
				outlay , fr : assignés, débours
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="DegroupeType">
		<xsd:annotation>
			<xsd:documentation>
				ungroup fr : dégroupage
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TimbreType">
		<xsd:annotation>
			<xsd:documentation>stamp fr : timbre</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LivraisonADestinataireType">
		<xsd:annotation>
			<xsd:documentation>
				delivery on despatch only fr : livraison à destinataire
				uniquement
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tax" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PoidsType">
		<xsd:annotation>
			<xsd:documentation>weight informations</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valeure" type="xsd:float">
				<xsd:annotation>
					<xsd:documentation>
						taxable weight fr : poid taxable
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="FrancDeTaxeEtDeDroitType">
		<xsd:annotation>
			<xsd:documentation>
				free duty and tax fr : franc de taxe
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="montant" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OptionRetourType">
		<xsd:annotation>
			<xsd:documentation>return option fr : ?</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="montant" type="dt:MontantType" />
		</xsd:sequence>
	</xsd:complexType>
 -->
	<xsd:complexType name="OptionsDeServiceType">
		<xsd:sequence>
			<xsd:element name="contreRemboursement" type="srv:ControleEtValorisationType" minOccurs="0"/>
			<xsd:element name="valeurAssuree" type="srv:ControleEtValorisationType" minOccurs="0"/>
			<xsd:element name="francDeTaxesEtDeDroits" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="niveauRecommandation" type="dt:stringF2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						exclusion assurance/recommandation
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--xsd:element name="livraisonEnPointRelais" type="xsd:boolean" minOccurs="0"/-->
			<xsd:element name="livraisonSamedi" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="horsNorme" type="srv:RaisonHorsNormeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RaisonHorsNormeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NON"/>
			<xsd:enumeration value="SANS_MOTIF"/>
			<xsd:enumeration value="DIMENSION"/>
			<xsd:enumeration value="ETIQUETTE"/>
			<xsd:enumeration value="STABILITE"/>
			<xsd:enumeration value="EMBALLAGE"/>
			<xsd:enumeration value="VOLUME"/>
			<xsd:enumeration value="INCONNU_7"/>
			<xsd:enumeration value="INCONNU_8"/>
			<xsd:enumeration value="INCONNU_9"/>
			<xsd:enumeration value="INCONNU_10"/>
			<xsd:enumeration value="INCONNU_11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RaisonHorsNormeCabType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PAS_DE_CAB_ILLISIBLE"/>
			<xsd:enumeration value="CAB_ILLISIBLE_SUIVI"/>
			<xsd:enumeration value="CAB_ILLISIBLE_PCH"/>
			<xsd:enumeration value="CAB_ILLISIBLE_SUIVI_PCH"/>
			<xsd:enumeration value="CAB_ILLISIBLE_INCONNU_4"/>
			<xsd:enumeration value="CAB_ILLISIBLE_INCONNU_5"/>
			<xsd:enumeration value="CAB_ILLISIBLE_INCONNU_6"/>
			<xsd:enumeration value="CAB_ILLISIBLE_INCONNU_7"/>
			<xsd:enumeration value="CAB_ILLISIBLE_INCONNU_8"/>
			<xsd:enumeration value="CAB_ILLISIBLE_INCONNU_9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RaisonHorsNormeCleeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PAS_DE_CLE_ERRONEE"/>
			<xsd:enumeration value="CLE_ERRONEE_SUIVI"/>
			<xsd:enumeration value="CLE_ERRONEE_PCH"/>
			<xsd:enumeration value="CLE_ERRONEE_JOINTURE_SUIVI_PCH"/>
			<xsd:enumeration value="CLE_ERRONEE_INCONNU_4"/>
			<xsd:enumeration value="CLE_ERRONEE_INCONNU_5"/>
			<xsd:enumeration value="CLE_ERRONEE_INCONNU_6"/>
			<xsd:enumeration value="CLE_ERRONEE_INCONNU_7"/>
			<xsd:enumeration value="CLE_ERRONEE_INCONNU_8"/>
			<xsd:enumeration value="CLE_ERRONEE_INCONNU_9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ControleEtValorisationType">
		<xsd:annotation>
			<xsd:documentation>si pas de controle - le contrôle de l'option n'a pas été effectué, pas vérifié alors pas de tag va	leur.
si controle et absence option valeur nulle. 
si option vazlorisé alors valeur.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valeur" type="xsd:string" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="options" type="srv:OptionsDeServiceType"/>
</xsd:schema>