trunk/fr.chaunier.ecoredoc.generator/src/palert/dataType.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--Created with Liquid XML Studio - 30 Day Trial Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:dt="http://www.telintrans.fr/datatype"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.telintrans.fr/datatype"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="stringF2">
		<xsd:annotation>
			<xsd:documentation>chaine de car. fixe de 2 car.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string3">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="stringF4">
		<xsd:annotation>
			<xsd:documentation>chaine de car. fixe de 6 car.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="stringF5">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string6">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 6 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="stringF6">
		<xsd:annotation>
			<xsd:documentation>chaine de car. fixe de 6 car.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string7">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string9">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string10">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string20">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string25">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string35">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="string50">
		<xsd:annotation>
			<xsd:documentation>chaine de car. de 50 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RegateType">
		<xsd:annotation>
			<xsd:documentation>code regate de 6 car. fixe</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LigneAdresse">
		<xsd:annotation>
			<xsd:documentation>ligne d'adresse de 35 car. max</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CodePaysIso3166N2">
		<xsd:annotation>
			<xsd:documentation>chaine de car. fixe de 2 car. iso 1666 N2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="DimensionType">
		<xsd:sequence>
			<xsd:element name="hauteur" type="xsd:string" minOccurs="0"/>
			<xsd:element name="longueur" type="xsd:string" minOccurs="0"/>
			<xsd:element name="largeur" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MontantType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="ColisCAB13Type">
		<xsd:sequence>
			<xsd:element name="codeProduit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>code produit</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroColis">
				<xsd:annotation>
					<xsd:documentation>numero de colis</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:annotation>
						<xsd:documentation>numero de sequence colis de 0000000000 à 9999999999</xsd:documentation>
					</xsd:annotation>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MontantEtDevise">
		<xsd:sequence>
			<xsd:element name="montant" type="dt:MontantType"/>
			<xsd:element name="devise" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>