fr.chaunier.ecoredoc.generator/src/palert/adresse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:ad="http://www.telintrans.fr/adresse" xmlns:dt="http://www.telintrans.fr/datatype" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.telintrans.fr/adresse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="dataType.xsd" namespace="http://www.telintrans.fr/datatype" />
  <xsd:annotation>
    <xsd:documentation>
			définition commune pour les adresses
		</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AbstractContacteType" abstract="true">
    <xsd:annotation>
      <xsd:documentation>abstraction pour la structure d'un contact (mail,tel,fax ...)
			</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="TelephoneFixeType">
    <xsd:annotation>
      <xsd:documentation>
				numéro de téléphone
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AbstractContacteType">
        <xsd:sequence>
          <xsd:element name="numero">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneMobileType">
    <xsd:annotation>
      <xsd:documentation>
				numéro de téléphone
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AbstractContacteType">
        <xsd:sequence>
          <xsd:element name="numero">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EmailType">
    <xsd:annotation>
      <xsd:documentation>email</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AbstractContacteType">
        <xsd:sequence>
          <xsd:element name="email" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdresseWebType">
    <xsd:annotation>
      <xsd:documentation>adresse web</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AbstractContacteType">
        <xsd:sequence>
          <xsd:element name="adresseWeb" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FaxType">
    <xsd:annotation>
      <xsd:documentation>numéro de fax</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AbstractContacteType">
        <xsd:sequence>
          <xsd:element name="fax" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AutreContacteType">
    <xsd:annotation>
      <xsd:documentation>contact autre</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AbstractContacteType">
        <xsd:sequence>
          <xsd:element name="other" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdressePostaleType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="personne" type="ad:PersonneType" />
      <xsd:element minOccurs="0" name="organisation" type="ad:OrganisationType" />
      <xsd:element minOccurs="0" name="adresse" type="ad:AdresseType" />
      <xsd:element minOccurs="0" name="telephoneFixe" type="ad:TelephoneFixeType" />
      <xsd:element minOccurs="0" name="telephoneMoblie" type="ad:TelephoneMobileType" />
      <xsd:element minOccurs="0" name="mail" type="ad:EmailType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contact" type="ad:AbstractContacteType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdresseType">
    <xsd:annotation>
      <xsd:documentation>
				définition standard d'une adresse pour sa partie
				géographique (localisation)
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:SiteType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ligne1" type="dt:LigneAdresse">
            <xsd:annotation>
              <xsd:documentation>
								adresse postal Exemple : 1 RUE DE PARIS
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ligne2" type="dt:LigneAdresse">
            <xsd:annotation>
              <xsd:documentation>
								compléments Exemple : IMMEUBLE Jean Bart
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ligne3" type="dt:LigneAdresse">
            <xsd:annotation>
              <xsd:documentation>
								compléments Exemple : livraison concierge
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ligne4" type="dt:LigneAdresse" />
          <xsd:element minOccurs="0" name="codePostal" type="dt:string9">
            <xsd:annotation>
              <xsd:documentation>

							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ville" type="dt:string35">
            <xsd:annotation>
              <xsd:documentation>

							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="pays" type="dt:CodePaysIso3166N2">
            <xsd:annotation>
              <xsd:documentation>code pays iso 1666 N2</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdresseStructureeType">
    <xsd:annotation>
      <xsd:documentation>
				adresse structurée pour besoin postale
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personne" type="ad:PersonneType" />
      <xsd:element name="societe" type="ad:OrganisationType" />
      <xsd:element name="adresse" type="ad:AdresseType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccesAdresseType">
    <xsd:sequence>
      <xsd:element name="digicode1" type="xsd:string" />
      <xsd:element name="digicode2" type="xsd:string" />
      <xsd:element name="identifiantSonnette" type="xsd:string" />
      <xsd:element name="Commentaire1" type="xsd:string" />
      <xsd:element name="autreCoordonnee" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonneType">
    <xsd:annotation>
      <xsd:documentation>
				définition standart d'une personne
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:Tier">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="civilite" type="xsd:string" />
          <xsd:element name="nom" type="xsd:string" />
          <xsd:element minOccurs="0" name="prenom" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganisationType">
    <xsd:annotation>
      <xsd:documentation>
				définition standart de nom de l'organisation
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:Tier">
        <xsd:sequence>
          <xsd:element name="raisonSociale" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Tier" abstract="true">
    <xsd:annotation>
      <xsd:documentation>representation abstraite d'un tier société ou personne</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="SiteType" abstract="true">
    <xsd:annotation>
      <xsd:documentation>racine site pour tous object localisable (adresse,	ou organisation référéncer, ou site colisposte)
			</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:element name="test" type="ad:AdressePostaleType" />
  <xsd:complexType name="AdressePostaleExentionLivraison">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ad:AdressePostaleType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="complement" type="ad:ComplementType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComplementType">
    <xsd:sequence>
      <xsd:element name="instrLivraisonSpecifique1" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="instrLivraisonSpecifique2" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="InstrSpecifiqueInterphone" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="instrLivraisonSpecifique" type="xsd:string" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>