fr.chaunier.ecoredoc.generator/src/palert/service.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - 30 Day Trial Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:Q1="dt" xmlns:com="http://www.telintrans.fr/common" xmlns:dt="http://www.telintrans.fr/datatype" xmlns:srv="http://www.coliposte.fr/service" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.coliposte.fr/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="dataType.xsd" namespace="http://www.telintrans.fr/datatype" />
  <xsd:complexType name="OptionsDeServiceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contreRemboursement"
      	type="srv:ValeurTaxeCodeType" />
      <xsd:element minOccurs="0" name="valeurAssuree" type="srv:ValeurTaxeCodeType" />
      <xsd:element minOccurs="0" name="francDeTaxesEtDeDroits" type="srv:ValeurEtTaxeType" />
      <xsd:element minOccurs="0" name="niveauRecommandation" type="srv:ValeurEtTaxeType">
        <xsd:annotation>
          <xsd:documentation>
						exclusion assurance/recommandation
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <!--xsd:element name="livraisonEnPointRelais" type="xsd:string" minOccurs="0"/-->
      <xsd:element minOccurs="0" name="livraisonSamedi" type="srv:ValeurEtTaxeType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="horsNorme" type="srv:ValeurEtTaxeType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RaisonHorsNormeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NON" />
      <xsd:enumeration value="SANS_MOTIF" />
      <xsd:enumeration value="DIMENSION" />
      <xsd:enumeration value="ETIQUETTE" />
      <xsd:enumeration value="STABILITE" />
      <xsd:enumeration value="EMBALLAGE" />
      <xsd:enumeration value="VOLUME" />
      <xsd:enumeration value="INCONNU_7" />
      <xsd:enumeration value="INCONNU_8" />
      <xsd:enumeration value="INCONNU_9" />
      <xsd:enumeration value="INCONNU_10" />
      <xsd:enumeration value="INCONNU_11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ValeurEtTaxeType">
    <xsd:annotation>
      <xsd:documentation>
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="valeur" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxe" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="devise" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ValeurTaxeCodeType">
  	<xsd:complexContent>
  		<xsd:extension base="srv:ValeurEtTaxeType">
  			<xsd:sequence>
  				<xsd:element name="code" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
  			</xsd:sequence>
  		</xsd:extension>
  	</xsd:complexContent>
  </xsd:complexType>
</xsd:schema>