fr.chaunier.ecoredoc.generator/samples/annonce/rnvp/rnvp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RedressementSynchroneTIBCO"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:di="http://www.telintrans.fr/schema/RedressementSynchroneTIBCO"
	xmlns:tns="http://www.telintrans.fr/contract/RedressementSynchroneTIBCO"
	targetNamespace="http://www.telintrans.fr/contract/RedressementSynchroneTIBCO">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.telintrans.fr/schema/RedressementSynchroneTIBCO">
			<xsd:element name="RedressementSynchroneTIBCO">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nameRedressementSynchroneTIBCO" type="di:ctRedressementSynchroneTIBCO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="RedressementSynchroneTIBCOResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nameRedressementSynchroneTIBCOResponse" type="di:ctRedressementSynchroneTIBCOResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctRedressementSynchroneTIBCO">
				<xsd:sequence>
					<xsd:element name="codeClient" type="di:lineType6" 	nillable="false" />
					<xsd:element name="adresse" minOccurs="1" maxOccurs="20" type="di:ctAdresse" nillable="false" />
					<xsd:element name="modeTraitement" type="di:typeModeTraitement"	nillable="false" />
					<xsd:element name="priorite" type="di:stypePriorite" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctRedressementSynchroneTIBCOResponse">
				<xsd:sequence>
					<xsd:element name="adresseRedresse" minOccurs="1"
						maxOccurs="20" type="di:ctAdresseRep" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctAdresse">
				<xsd:sequence>
					<xsd:element name="nom" type="di:lineType35" />
					<xsd:element name="ligne1adresse" type="di:lineType38" />
					<xsd:element name="ligne2adresse" type="di:lineType38" />
					<xsd:element name="ligne3adresse" type="di:lineType38" />
					<xsd:element name="ligne4adresse" type="di:lineType38" />
					<xsd:element name="codePostal" type="di:lineType9" />
					<xsd:element name="ville" type="di:lineType35" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ctAdresseRep">
				<xsd:sequence>
					<xsd:element name="civilite" type="di:lineType4"
						nillable="false" />
					<xsd:element name="prenom" type="di:lineType16"
						nillable="false" />
					<xsd:element name="nom" type="di:lineType16" nillable="false" />
					<xsd:element name="noteDeTraitementCivilite" type="di:lineType1"
						nillable="false" />
					<xsd:element name="ligne1adresseGeopostale" type="di:lineType38"
						nillable="false" />
					<xsd:element name="ligne2adresseGeopostale" type="di:lineType38"
						nillable="false" />
					<xsd:element name="ligne3adresseGeopostale" type="di:lineType38"
						nillable="false" />
					<xsd:element name="ligne4adresseGeopostale" type="di:lineType38"
						nillable="false" />
					<xsd:element name="noteTraitementGeopostal" type="di:lineType1"
						nillable="false" />
					<xsd:element name="cea" type="di:lineType10" nillable="false" />
					<xsd:element name="noteTraitementRNVP" type="di:lineType4"
						nillable="false" />
					<xsd:element name="numeroContratReinet" type="di:lineType9"
						nillable="false" />
						<xsd:element name="codePostalGeopostal" type="di:lineType6"
						nillable="false" />
					<xsd:element name="villeGeopostale" type="di:lineType35" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="stypePriorite">
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="0" />
					<xsd:maxInclusive value="9" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="typeModeTraitement">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AVEC_CIVILITE">
					</xsd:enumeration>
					<xsd:enumeration value="AVEC_GEOPOSTALE">
					</xsd:enumeration>
					<xsd:enumeration value="AVEC_CEA">
					</xsd:enumeration>
					<xsd:enumeration value="AVEC_REINET">
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType1">
				<xsd:annotation>
					<xsd:documentation>string type 1 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="lineType4">
				<xsd:annotation>
					<xsd:documentation>string type 4 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType6">
				<xsd:annotation>
					<xsd:documentation>string type 6 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="6" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType9">
				<xsd:annotation>
					<xsd:documentation>string type 9 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="9" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType10">
				<xsd:annotation>
					<xsd:documentation>string type 10 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType16">
				<xsd:annotation>
					<xsd:documentation>string type 16 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType22">
				<xsd:annotation>
					<xsd:documentation>string type 22 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="22" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType35">
				<xsd:annotation>
					<xsd:documentation>string type 35 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="lineType38">
				<xsd:annotation>
					<xsd:documentation>string type 38 char limited</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="38" />
				</xsd:restriction>
			</xsd:simpleType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RedressementSynchroneTIBCORequest">
		<wsdl:part element="di:RedressementSynchroneTIBCO" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RedressementSynchroneTIBCOResponse">
		<wsdl:part element="di:RedressementSynchroneTIBCOResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="RedressementSynchroneTIBCOPortType">
		<wsdl:operation name="RedressementSynchroneTIBCO">
			<wsdl:input message="tns:RedressementSynchroneTIBCORequest" />
			<wsdl:output message="tns:RedressementSynchroneTIBCOResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RedressementSynchroneTIBCOBinding"
		type="tns:RedressementSynchroneTIBCOPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RedressementSynchroneTIBCO">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RedressementSynchroneTIBCOService">
		<wsdl:port name="RedressementSynchroneTIBCOPort" binding="tns:RedressementSynchroneTIBCOBinding">
			<soap:address
				location="http://localhost:8080/rnvp/services/redressementsynchronetibco" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions> 
