branches/oldProjects/fr.chaunier.proto.sample/src-gen/invoice_csv.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:icsv="http://www.chaunier.fr/invoice_csv" 
attributeFormDefault="unqualified" 
elementFormDefault="unqualified" 
targetNamespace="http://www.chaunier.fr/invoice_csv"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
      	<xsd:annotation>
      <xsd:documentation>numeroFacture</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>numeroClient</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Nom</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Telephone</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Description</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>ligneAdresse</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Ville</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>CodePostale</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Prix</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Remise</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Month</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Day</xsd:documentation>
      </xsd:annotation>
      	<xsd:annotation>
      <xsd:documentation>Year</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="DateType" abstract="true">
      <xsd:annotation>
      <xsd:documentation></xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
          <xsd:element name="day"  type="xsd:string" 
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
          <xsd:element name="month"  type="xsd:string" 
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
          <xsd:element name="year"  type="xsd:string" 
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
             </xsd:sequence>
      	</xsd:complexType>  
      <xsd:complexType name="FactureType" abstract="true">
      <xsd:annotation>
      <xsd:documentation>ceci est le point d'entrée du message facture</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
          <xsd:element name="entete"  type="icsv:EnteteType"	
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
          <xsd:element name="articles" maxOccurs="unbounded"
           type="icsv:ArticleType"	
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
             </xsd:sequence>
      	</xsd:complexType>  
      <xsd:complexType name="EnteteType" abstract="true">
      <xsd:annotation>
      <xsd:documentation></xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
          <xsd:element name="date" 
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:minLength value= "8"<xsd:maxLength value= "8"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="client"  type="icsv:ClientType"	
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
             </xsd:sequence>
      	</xsd:complexType>  
      <xsd:complexType name="ArticleType" abstract="true">
      <xsd:annotation>
      <xsd:documentation></xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
          <xsd:element name="description" maxOccurs="unbounded"
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "80"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="prix" 
              <xsd:annotation>
                			<xsd:documentation>en euro</xsd:documentation>
              		</xsd:annotation>
              			<xsd:simpleType>
              				<xsd:restriction base="xsd:integer">
          				<xsd:maxLength value= "8"
              				</xsd:restriction>
              			</xsd:simpleType>
              	</xsd:element>
          <xsd:element name="remise" 
              <xsd:annotation>
                			<xsd:documentation></xsd:documentation>
              		</xsd:annotation>
              			<xsd:simpleType>
              				<xsd:restriction base="xsd:integer">
          				<xsd:maxLength value= "4"
              				</xsd:restriction>
              			</xsd:simpleType>
              	</xsd:element>
             </xsd:sequence>
      	</xsd:complexType>  
      <xsd:complexType name="ClientType" abstract="true">
      <xsd:annotation>
      <xsd:documentation></xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
          <xsd:element name="numeroClient" 
              <xsd:annotation>
                			<xsd:documentation></xsd:documentation>
              		</xsd:annotation>
              			<xsd:simpleType>
              				<xsd:restriction base="xsd:integer">
          				<xsd:maxLength value= "12"
              				</xsd:restriction>
              			</xsd:simpleType>
              	</xsd:element>
          <xsd:element name="nom" 
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "20"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="telephone" 
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "12"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="adresse"  type="icsv:AdresseType"	
          >
          	<xsd:annotation>
           	<xsd:documentation></xsd:documentation>
              </xsd:annotation>
           </xsd:element>
             </xsd:sequence>
      	</xsd:complexType>  
      <xsd:complexType name="AdresseType" abstract="true">
      <xsd:annotation>
      <xsd:documentation></xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
          <xsd:element name="ligne1" 
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "80"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ligne2" minOccurs="0"
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "80"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ligne3" minOccurs="0"
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "80"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ville" 
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:maxLength value= "80"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
          <xsd:element name="codePostale" 
              <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
          				<xsd:minLength value= "5"<xsd:maxLength value= "5"
          </xsd:restriction>
          </xsd:simpleType>
          </xsd:element>
             </xsd:sequence>
      	</xsd:complexType>  
      <xsd:simpleType name="O_NEnum">
      <xsd:restriction base="xsd:string">
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="O"/>
      <xsd:enumeration value="INCONNU_O_N3"/> 
      <xsd:enumeration value="INCONNU_O_N4"/> 
      <xsd:element name="facture" type="icsv:FactureType"></xsd:element>
      <element name="Date" type="c:DateType" abstract="true"></element>
      }
      <element name="Facture" type="c:FactureType" abstract="true"></element>
      }
      <element name="Entete" type="c:EnteteType" abstract="true"></element>
      }
      <element name="Article" type="c:ArticleType" abstract="true"></element>
      }
      <element name="Client" type="c:ClientType" abstract="true"></element>
      }
      <element name="Adresse" type="c:AdresseType" abstract="true"></element>
      }
    </xsd:schema>  
