branches/save/fr.chaunier.ecoredoc.generator/samples/annonce/pivot/PALERT.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:ad="http://www.telintrans.fr/adresse"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:srv="http://www.coliposte.fr/service"
	 xmlns:evt="http://www.coliposte.fr/event"
	 xmlns:dt="http://www.telintrans.fr/datatype"
	 xmlns:pal="http://www.geopost.com/pal"
	 targetNamespace="http://www.geopost.com/pal"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.coliposte.fr/service" schemaLocation="service.xsd"/>
	<xsd:import namespace="http://www.coliposte.fr/event" schemaLocation="event.xsd"/>
	<xsd:import namespace="http://www.telintrans.fr/datatype" schemaLocation="dataType.xsd"/>
	<xsd:import namespace="http://www.telintrans.fr/adresse" schemaLocation="adresse.xsd"/>

	<xsd:element name="root" type="pal:palRootType"/>
	<xsd:complexType name="BordereauType">
		<xsd:sequence>
			<xsd:element name="idBordereau" type="xsd:string"/>
			<xsd:element name="siteEvenement" type="dt:stringF6" minOccurs="0"/>
			<xsd:element name="DateExpedition" type="xsd:dateTime"/>
			<xsd:element name="DateValidation" type="xsd:dateTime"/>

			<xsd:element name="pal" type="pal:PALERTType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="palHeaderType">
		<xsd:annotation>
			<xsd:documentation>Les besoins doivent prendre en compte les
				interfaces entrantes et sortantes + les besoins de calculs des SLA +
				besoin propre à l'EAI + les besoins d'exploitation.
				attention à vérifier de nombre de detail par rapport au fichier entrant
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="canal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nonmInfoSource" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						file name of pal
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomInfoDestination" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateReception" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="instanceIDTibco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="typedeFlux" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CompteurSequence" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="palRootType">
		<xsd:sequence>
			<xsd:element name="header" type="pal:palHeaderType"/>
			<xsd:element name="bordereaux" type="pal:BordereauType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PALERTType">
		<xsd:annotation>
			<xsd:documentation>
				définition de la prise en charge
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="colis" type="pal:ColisInfoType" />
			<xsd:element name="evenement" type="evt:EvenementType" />
			<xsd:element name="colisAnnonce" type="pal:ColisAnnonce"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						parcel informations
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="optionAnnonceService"
				type="srv:OptionsDeServiceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						service options
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>



			<xsd:element name="facturation" type="pal:FacturationType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="transport" type="pal:TransportType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="chronopost" type="pal:ChronopostType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="specifiqueSoColissimo" type="pal:SpecifiqueSoColissimoType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ColisType">
		<xsd:annotation>
			<xsd:documentation>definition d'un colis.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="poids" type="pal:PoidsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						poids du colis
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typePreparation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="destinataire" type="ad:AdressePostaleType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Destinataire du colis (si annonce)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accuseReception" type="srv:ValeurEtTaxeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ExpediteurInfoType">
		<xsd:sequence>
			<xsd:element name="codeColis" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlertComplementType">
		<xsd:sequence>
			<xsd:element name="email" type="ad:EmailType"/>
			<xsd:element name="telephone" type="ad:TelephoneFixeType"/>
			<xsd:element name="alert" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ColisInfoType">
		<xsd:complexContent>
			<xsd:extension base="dt:ColisCAB13Type">
				<xsd:sequence>
					<xsd:element name="iDColisMaitre" type="dt:ColisCAB13Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								(cas des sous-traitant) nécessaire pour
								les stats - correspond au
								DDD.cod_Bordereau
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ColisMesuree">
		<xsd:annotation>
			<xsd:documentation>définition de mesures sur un colis</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pal:ColisType">
				<xsd:sequence>
					<xsd:element name="dimension" type="dt:DimensionType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ColisAnnonce">
		<xsd:complexContent>
			<xsd:extension base="pal:ColisType">
				<xsd:sequence>
					<xsd:element name="dimension"
						type="dt:DimensionType">
					</xsd:element>
					<xsd:element name="volume" type="xsd:int"></xsd:element>
					<xsd:element name="expediteur"
						type="ad:AdressePostaleExentionLivraison" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Destinataire du colis
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="complement"
						type="pal:ComplementType" minOccurs="0" />
					<xsd:element name="telMobile"
						type="ad:TelephoneMobileType" minOccurs="0" />
					<xsd:element name="telFixe"
						type="ad:TelephoneFixeType" minOccurs="0" />
					<xsd:element name="mail" type="ad:EmailType"
						minOccurs="0" />


					<xsd:element name="relabelisation" type="pal:RelabelisationType"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplementType">
		<xsd:sequence>
			<xsd:element name="instrlivraisonSpecifique1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="instrlivraisonSpecifique2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="instrAlertDestinataire" type="xsd:string" minOccurs="0"/>
			<xsd:element name="livraisonEnPointRelais" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquipementType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="libelle" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RelabelisationType">
		<xsd:sequence>


			<xsd:element name="IdColisMaitre" type="xsd:string"></xsd:element>

            <xsd:element name="courant" type="pal:ColisOperateurPairType"></xsd:element>
            <xsd:element name="sortant"
				type="pal:ColisOperateurPairType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ColisOperateurPairType">
		<xsd:sequence>
            <xsd:element name="iDColis" type="xsd:string"></xsd:element>
            <xsd:element name="numeroOperateur" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FacturationType">
		<xsd:sequence>
			<xsd:element name="tva" type="pal:TvaType" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="montantTotal" type="dt:MontantEtDevise" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TvaType">
		<xsd:sequence>

			<xsd:element name="montant" type="dt:MontantEtDevise"></xsd:element>
			<xsd:element name="pourcentage" type="xsd:string"></xsd:element>


		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MontantTotalType">
		<xsd:sequence>
			<xsd:element name="montant" type="xsd:string"></xsd:element>
			<xsd:element name="devise" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="TransportType">
		<xsd:sequence>
			<xsd:element name="montant" type="dt:MontantEtDevise" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ChronopostType">
		<xsd:sequence>

			<xsd:element name="lotAcheminement" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="triDistribution" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="contenuCodebareRoutage"
				type="xsd:string" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="versionFichierRoutage" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PoidsType">
		<xsd:sequence>
			<xsd:element name="mesure" type="xsd:int"></xsd:element>
			<xsd:element name="declare" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SpecifiqueSoColissimoType">
		<xsd:sequence>
			<xsd:element name="codeSource" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="nomCommercialChargeur"
				type="xsd:string" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="referenceCommande" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="codeAvoirPromotion" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="codeCityssimo" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="iDStation" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>